<html>
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
        <meta charset="utf-8">
        <title>DMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </header>
    <body>
            <div class="row">
                <div class="twelve columns">
                    </h1><pre><code>dms</code></pre>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="ten columns">
                    <h2>register new server</h2>
                    <p>
                        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                            <div class="six columns">
                                <label for="environment">environment</label>
                                <input class="u-full-width" type="text" placeholder="storj-prod-europe-north1" name="environment" id="environment">
                            </div>
                            </div>
                            <div class="row">
                                <div class="six columns">
                                    <input class="button-primary" type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
